/* @import url('@stream-io/video-react-sdk/dist/css/styles.css') layer(video-default); */

.str-video__call-controls__button {
  padding: 20px;
}

html {
  font-family: sans-serif;
}

.str-video {
  --str-video__primary-color: #6002ee;
  --str-video__secondary-color: #90ee02;
  --str-video__text-color1: #282b2b;
  --str-video__border-radius-circle: 15px;
  --str-video__icon--download: url("base64 encoded SVG");
}

.str-video__video-placeholder__initials-fallback {
  position: relative;
}

.str-video__livestream-layout__wrapper {
  display: block;
}
